<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Christopher Kennedy</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/ico" href="../static/images/favicon.ico">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resume">Resume</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
            <div class="center">
            <h1 class="display-4">Christopher Kennedy</h1>
            <p class="lead"><strong>Researching Systems Engineering and Computer Science</strong></p>
            </div>
        <hr />
    <br>
    <p>
        Welcome to my site! My name is Chris and this place is going to be changing frequently so keep an eye out!

    </p>
    <br>
    <div class="center">
        <div class="content">
            <a href="https://github.com/kernelhax" target="_blank"><i class="large github icon"></i></a> <a href="https://gitlab.com/kernelhax" target="_blank"><i class="content large gitlab icon"></i></a> <a href="https://linkedin.com/in/christopher-kennedy-334201151" target="_blank"><i class="large linkedin icon"></i></a>
        </div>
    </div>
    </div>
    <hr />
    </div>
    <br> 
    <br> 
            
    <h1 id="about_me">About Me</h1>
    <h3 id="professional">Professional</h3>
<p>I have worked in the I.T. industry for almost 10 years. My interests are systems administration, systems architecture, software development, and infrastructure automation. I have spent the last several years moving from an I.T. support and administrator role to a site reliability engineer, devops engineer, and software engineer role.</p>
<p>I am still on the infrastructure side, but I write and build software and administer the &quot;cloud native&quot; side of things. Terraform, Kubernetes, Docker, and Go are more of my day to day. </p>
<h3 id="personal">Personal</h3>
<p>I am happily married and live with my wife, two dogs, and two cats. I enjoy reading (yes, books), playing guitar, and watching movies. My favorite movie is Grandma&#39;s Boy. If you&#39;ve never seen it, then what are you doing here? Go check it out! I also like The Departed and Waiting... among other films. </p>

</body>
</html>


