<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Christopher Kennedy</title>
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <link rel="icon" type="image/ico" href="../static/images/favicon.ico">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a class="navi" href="/">Home</a>
            </li>
            <li>
                <a class="navi" href="/resume">Resume</a>
            </li>
            <li>
                <a class="navi" href="/blog">Blog</a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="center">
        <h1>Christopher Kennedy</h1>
        <p><strong>Researching Systems Engineering and Computer Science</strong></p>
    </div>
    <hr />
    <br>
    <div class="content">

        <h1>Whoops!</h1>
        <p>This page doesn't exist! :O </p>
    </div>
</body>
</html>
