
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Christopher Kennedy</title>
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <link rel="icon" type="image/ico" href="../static/images/favicon.ico">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a class="navi" href="/">Home</a>
            </li>
            <li>
                <a class="navi" href="/resume">Resume</a>
            </li>
            <li>
                <a class="navi" href="/blog">Blog</a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="center">
        <h1>Christopher Kennedy</h1>
        <p><strong>Researching Systems Engineering and Computer Science</strong></p>
    </div>
    <hr />
    <br>
            
    <h1 id="resume">Work History</h1>
    <p>Here are a few of the positions I've held during my time in Information Technology.</p>
    <hr />
            <strong>Software Development and More DevOps -- June 2020 to Present</strong> <br>
                • Develop infrastructure solutions with Terraform, Packer, and AWS.<br>
                • Containerize applications with Docker and Elastic Container Services via AWS.<br>
                • Perform unit and integration testing of infrastructure and applictions with Ruby test suites: Kitchen, RSpec, and Cucumber.<br>
                • SonarQube, Infer, implementations and pipelines.<br>
                • Developing API and self service applications for continuous integration and deployments.<br>
                • Architecting cloud native and "lift and shift" models for AWS and GCP environments.<br>
                • Proof of Concept, configuration, and deployment of Kubernetes engines.<br>
                <br>
            <strong>DevOps Engineer 2 -- Jun 2019 to June 2020</strong> <br>
                • Configuring Elasticsearch, Logstash, and Kibana for log parsing and visualizations.<br>
                • Systems administration tasks for node/express applications, .NET applications, and Docker hosts.<br>
                • Administation of AWS infrastructure.<br>
                • Build, configure, and update Jenkins pipelines.<br>
                • Configure build and release pipelines in Azure DevOps for on-prem and AWS locations.<br>
                <br>
                <strong>DevOps Engineer -- Apr 2018 to Jun 2019</strong><br>
                • Day to day involves managing Tomcat and Apache application servers in AWS environment.<br>
                • Integration of monitoring solutions to control uptime, costs, and reliability of resources.<br>
                • Create and deploy Infrastructure as Code using CloudFormation's Ruby SDK, Chef, Terraform, and Docker.<br>
                • Transform and automate existing I.T. practices.<br>
                • Perform continuous integration and continuous delivery with Jenkins jobs.<br>
                <br>
                <strong>Support Analyst -- Sep 2016 to Dec 2017</strong><br>
                • Supported more than 6,000 end users in fast paced environment with 100% SLA.<br>
                • Implemented companywide virus remediation plan with I.T. Ops and Information Security teams.<br>
                • Contributed to more than 100 knowledge base articles in company intranet.<br>
                • Provided QA on SQL Server, compiling and integrating data from Dev and Ops teams.<br>
                • Automated reporting services for engineer performance.<br>
                <br>
                <strong>Support Engineer Aug 2015 to Sep 2016</strong><br>
                • Deployed Windows and FreeBSD servers with RAID 5 and RAID 6 infrastructure.<br>
                • Configured disaster recovery solution in case of inclement weather, malicious intrusion, or accidental destruction.<br>
                • Customized network and database installations to customer specifications using Hyper-V and Microsoft SQL Server.<br>
                <br>
                <strong>Advanced Repair Agent -- Aug 2011 to July 2015</strong><br>
                • Reduced store turn time from 7 days to less than 24 hours.<br>
                • Gained recognition as top 10 location in client satisfaction.<br>
                • Installed and maintained data backup unit, performed weekly maintenance on routine schedule.<br>
    
</body>
</html>

